/*Preloader start*/
.preloader{
	background: darkgrey;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	height: 100%;
	visibility: visible;
	transition: 1s all;
}

.load{
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid white;
	width: 75px;
	height: 75px;
	transform: translate(-50%, -50%);
	animation: spin 3s 1s infinite linear;
	opacity: 1;
}
.load2{animation: spin 3.2s 0.25s infinite linear;}
.load3{animation: spin 3.3s 0.50s infinite linear;}
.load4{animation: spin 3.4s 0.75s infinite linear;}

.done{
	visibility: hidden;
	opacity: 0;
}
@keyframes spin{
	0%{
		transform: translate(-50%, -50%) rotate(0deg);
	}100%{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/*Preloader end*/
@media screen and (max-width: 495px) {

textarea{
height: 50px; 
max-width: 266px;
} 

input{
	width: 240px;
}

#navbar{
	margin-left: 0px;
	margin-right: 10px;
}

}

@media screen and (min-width: 1200px) {
textarea{
height: 195px;
width: 340px;
} 

}


body{
	background-color: white;
}

.navbar-fixed-top {
    background-color: #222;
    border-color: #080808;
    margin: 0px auto 0px auto;

}  

.description{
	box-shadow: 0px 0px 50px darkgrey;
}

.navbar-nav {
float: none;
text-align: center;
}
.navbar-nav li {
float: none;
display: inline-block;
}

.fa-phone{
	margin-top: 10px;
}

.bg1{
	background-color: white;
	height: 400px;

}

.lulka{
	/*background-image: url(http://zlp-russia.ru/images/lulka.png);*/
}

.description{
	background-color: white;
}

.form{
	/*background-color: grey;*/
	background-image: url(http://cheb.almadom.ru/netcat_files/multifile/4127/7cf1af4eba6611e681bcedae3b33fa1e_8334be02ba6611e681bcedae3b33fa1e.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;

}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

textarea{
resize: none; 
border-radius: 10px; 
height: 195px; 
font-size: 20px; 
color: grey; 
/*position: absolute; 
left: 580px; 
top: 150px; 
padding-left: 15px; 
padding-top: 15px; */
} 
input[type="submit"]{background-color: #fed136; 
border: none; 
border-radius: 10px;
/*height: 65px; 
width: 240px; */
margin-top: 10px;
/*position: absolute;
top: 400px; 
left: 460px; */
color: white; 
font-size: 21px; 
font-weight: normal;} 

input[type="name"]{
 
/*width: 440px; 
height: 50px;*/
outline-radius: 10px;
/*position: absolute;
top: 150px; 
left: 100px; */
border-radius: 5px; 
padding-left: 15px; 
color: grey; 
font-size: 20px;} 

input[type="email"]{ 
/*width: 440px; 
height: 50px; */
border-radius: 5px; 
padding-left: 15px; 
color: grey; 
font-size: 20px;
/*position: absolute;
top: 230px; 
left: 100px; */} 

input[type="text"]{ 
/*width: 440px; 
height: 50px; 
/*top: 310px; 
left: 100px;
position: absolute;*/
border-radius: 5px; 
padding-left: 15px; 
color: grey; 
font-size: 20px;}

input{
	margin-bottom: 20px;
}

.block{
	/*padding: 0px 85px 0px 85px;*/
	margin-bottom: 10px;

}

.a-block{
	background-color: #E2E1CC;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 5px 5px 15px #697B80;
	transform: translate(0, 0);
	transition-duration: 1s;


}
.a-block:hover{
	transition-duration: 1s;
	transform: translate(0, -10px);
	box-shadow: 5px 5px 8px #697B80;
}

.circle img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: 20px;
	box-shadow: -3px -3px 5px darkgrey;
}

.vizitka{
	/*background-color: #495AAC;*/
	color:darkblue;
	font-size: 16px;
}

.navbar-footer{
	color: white;
	font-size: 14px;
}